/* Global Settings: */

:root {
    --orange:#b28756;
    --dark:#000;
    --light:#FFF;
    --gray:#ccc;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: var(--dark);
    color: var(--light);
}

.header {
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.logoimg {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--orange);
}

.menu nav ul {
    display: flex;
    gap: 10px;
}

.menu nav ul li {
    list-style: none;
}

.menu a {
    text-transform: uppercase;
    color: var(--light);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    height: 100px;
    align-items: center;
    border: 5px solid var(--dark);
    font-size: 13px;
}

.menu a:hover, .active {
    border-bottom: 5px solid var(--orange);
    color: var(--gray);
}

.banner {
    background-image: url('../assets/img/bg.jpg');
    height: calc(100vh - 100px);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}


.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
}

.banner h1 span {
    color: var(--orange);
    font-weight: 700;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light);
    background-color: var(--orange);
    margin-top: 30px;
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
}

.banner a:hover {
    background-color: #8b6a44;
    color: var(--gray);
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.banner .pointer {
    height: 15px;
    width: 15px;
    border: 2px solid var(--orange);
    border-radius: 8px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: var(--orange);
}

.default {

    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    margin: auto;
    max-width: 1140px;
}

.default.light {
    background-color: var(--light);
}

.default.light .section-title,
.default.light .section-body {
    color: var(--dark);
}

.default.light .section-desc {
    color: var(--gray);
}

.default.dark {
    background-color: var(--dark);
}

.default.dark .section-title,
.default.dark .section-body {
    color: var(--light);
}

.default.dark .section-desc {
    color: var(--gray);
}







/* About Us Section: */



.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 500px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px var(--dark);
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}


.section-service h4 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;
}

.section-service p {
    font-weight: 200;
    margin-top: 10px;
    font-size: 13px;
    color: var(--gray);
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-project--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-project--filters ul {
    list-style: none;
    text-transform: uppercase;
}

.section-project--filters li {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-project--filters li:hover,
.section-project--filters li.active {
    border-bottom: 3px solid var(--orange);
}

.section-project--filters li:first-child {
    border-left: 0;
}


.section-project--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-project--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: inherit;
    width: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    text-align: center;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoinfo p {
    font-weight: 300;
    font-size: 13px;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

.bg-team {
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;

}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    background-color: var(--light);
    margin-right: 20px;
    display: inline-block;
}

.section-team .slidearea {
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 30px;
}

.section-team .sliders-pointers {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.section-team .pointer {
    height: 15px;
    width: 15px;
    border: 2px solid var(--orange);
    border-radius: 8px;
    cursor: pointer;
}

.section-team .pointer.active {
    background-color: var(--orange);
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
}

.section-team--social a:hover {
    background-color: var(--orange);
}